/*common start*/
body{
	margin: 0;
	padding: 0;
}
/*common end*/


/*header start*/
header{
	padding: 20px 0;
}
.container {
	margin: 0 auto;
	width: 75%;
	overflow: hidden;
	/*border:1px solid red;*/
}

.logo {
	width: 16%;
	float: left;
}

.logo a{
	display: block;
}

.logo a img{
	width: 100%;
}

.menu {
	margin-top: 5px;
	width: 78%;
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #131313;
    text-decoration: none;
    display: block;
	padding: 0px 15px;
}
.menu ul li a:hover{
	color:#BC223E;
}
.menu ul li:last-child a{
	padding-right: 0;
}


/*header end*/

/*banner start*/
.banner{
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center top;
	min-height: 400px;
}
.b_content{
	margin:100px 0;
	width: 50%;
	/*border:1px solid yellow;*/
}
.b_content h1{
	margin: 0 0 40px;
	font-family: sans-serif;
	font-size: 60.5px; 
	font-weight: 700;
	color: #ffffff;
	text-transform: capitalize;
	letter-spacing: 1px;
}
.b_p{
	text-transform: capitalize;
}
.b_content p{
	margin:0 0 15px;
	font-family: sans-serif;
	font-size: 17px; 
	font-weight: 400;
	color: #ffffff;
	letter-spacing: .25px;
}
.b_content button{
	margin: 30px 0 0;
	width:250px;
	height: 50px;
	border:none;
	border-radius: 2px;
	font-family: sans-serif;
	font-size: 14px; 
	font-weight: 400;
	color: #ffffff;
	background-color:#BC223E;
	text-transform: uppercase; 
	transition: .4s;
}

.b_content button:hover{
    color: #BC223E;
    background-color: #ffffff;
}
/*banner end*/

/*how it works start*/
.works{
	padding: 100px 0;
}
.top{
	margin:0 auto;
	padding: 0 0 60px;
	width:75%;
	/*border:1px solid;*/
	text-align: center;
}
.w_h1{
	margin:0 0 20px;
	font-family: sans-serif;
	font-size: 30px; 
	font-weight: 700;
	color: #1E1E1E;
	text-transform: uppercase;
}
.w_p{
	margin: 0;
	font-family: sans-serif;
	font-size: 17px; 
	font-weight: 400;
	color: #A7A7A7;
	line-height: 25px;
}
.bottom{
	overflow: hidden;
	/*border:1px solid green;*/
}
.single{
	margin: 0 2.85%;
    width: 25%;
    /* border: 1px solid red; */
    text-align: center;
    padding: 30px 1.31% 0;
    float: left;
}
.s_img{
	margin: 0 auto;
    width: 50%;
    /*border: 1px solid;*/
}
.s_img img{
	width: 100%;
}
.single p{
	margin: 25px 25px;
	padding: 0 5px;
	font-family: sans-serif;
	font-size: 17px; 
	font-weight: 700;
	color: #1E1E1E;
}
/*how it works endt*/

/*learn whole process with video start*/
.video-section {
	padding:100px 0;
	background-color: #fafafa;
	overflow: hidden;

}
.learn{
	margin:0 10px;
	width: 48%;
    float: left;
    margin-top: 30px;
}
.learn h1{
	font-family: sans-serif;
	font-size:30px; 
	font-weight: 700;
	color: #1E1E1E;
	text-transform: uppercase;
	line-height: 50px;
}
.learn p{
	font-family: sans-serif;
	font-size: 16px; 
	font-weight: 400;
	color: #A7A7A7;
	line-height: 25px;
}
.learn button{
	margin: 30px 0 0;
	width:180px;
	height: 45px;
	border:none;
	border-radius: 7px;
	font-family: sans-serif;
	font-size: 14px; 
	font-weight: 400;
	color: #ffffff;
	background-color:#BC223E;
	text-transform: uppercase; 
	transition: .4s;
}
.learn button:hover{
	width:190px;
	height: 50px;
	font-size:15px;
	color: #BC223E;
    background-color: #ffffff;
    border:2px solid #BC223E;
    border-radius: 7px;
}
.video{
	margin:0 10px;
	width:48%;
	float: right;
}
.video iframe{
	width: 546px;
	height: 380px;
}
/*learn whole process with video end*/
/*features section start*/
.feature_section{
	margin:100px 0 0;
}
.f_m{
	margin-top: 40px;
}

/*features section start*/

/*feature box section start*/
.box{
	margin: 0 0 15px;
}
.sub{
	min-height: 300px;
}
.s_box{
    margin: 1% 1% 0 1%;
    padding: 0px 0 40px;
    width: 31%;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    float: left;
}
.s_box:hover{
    box-shadow: 1px 1px 20px 1px #ddd;
    border-radius: 5px;
    transition: .5s;
}
.s_box:hover .icon{
	color:#BC223E;
	font-size: 45px;
	transition: .5s;
}

.s_box h2{
    font-family:sans-serif;
    margin: 30px 0 0;
    font-size: 21px;
    text-align: center;
    text-transform: capitalize;
}
.s_box p{
	/*margin: 22px 15px 65px;*/
    padding: 0 15px;
    font-size: 17px;
    color: #A7A7A7;
    text-align: center;
}
.icon{
    margin:40px 0 10px;
    font-size: 40px;
    color: #A7A7A7;
    text-align: center;
}
/*box section end*/

/*feature button start*/
.button{
	text-align: center;
}
.button button{
    margin: 90px 0 50px;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 16px;
    color: #BC223E;
    background-color: #ffffff;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: .05px;
    border:none;
    border-radius: 2px;
    box-shadow: 1px 1px 5px 1px #ddd;
}
.button button:hover{
	color: #ffffff;
	background-color: #BC223E;
	transition: .5s;
	box-shadow: 1px 1px 5px 1px #BC223E;
}
/*feature button end*/
/*footer section start*/

.footer{
	background-color: #090909;
	/*border:1px solid blue;*/ 
}
.f_padding{
	padding: 60px 0;
}

/*f_box1*/
.f_box1{
	width: 28%;
	/*border:1px solid red;*/
	float: left;
}
.f_h2{
	font-family:sans-serif;
	margin:0 0 30px;
	color:#BC223E;
	text-transform: uppercase;
	word-spacing: 1px;
}
.line_1{}
.fn_icon{
	font-size: 17px;
	color: #BC223E;
	line-height: 35px;
}
.f_text{
	
	font-family:sans-serif;f
	ont-size:17px;
	line-height: 35px;
}
.f_text a{
	color:#8AA3C1;
	text-decoration: none;
}
.f_text a:hover{
	color:#BC223E; 
}
.social{
	margin: 50px 0 0;
}	
.social a{
	font-size: 40px;
	color: #8AA3C1;
}
.social a:hover{
	color: #BC223E;
	transition: .3s;
}

/*f_box2 start*/
.f_box2{
	width: 65%;
	/*border:1px solid red;*/
	float: right;
}

/*l_box*/
.l_box{
	width: 35%;
    margin-left: 5%;
    /*border: 1px solid green;*/
    float: left;
}
/*r_box*/

.r_box{
	width: 55%;
	min-height: 300px;
	/*border:1px solid green;*/
	float: right;
}
/*f_box*/
.r_box{}
.r_box p{
    font-family:sans-serif;
    font-size: 17px;
    color:#8AA3C1;
    line-height: 25px;
}
.form{
	margin-top: 65px;
	color: #8AA3C1;
}
.form input{
    width: 150px;
    height: 45px;
    font-size: 15px;
    padding-left: 15px;
    background-color: transparent;
    border: 1px solid #8AA3C1;
}
.form input:focus{
	outline: 0;
}
.form button{
    width: 130px;
    height: 51px;
    margin: 0 -5px;
    font-family: sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #BC223E;
    border: none;
    border-radius: 2px;
    outline: 0;
    cursor: pointer;
}

/*footer section end*/
/*copyright start*/
.copy{
	background-color: #535d69;
}
.c_right{
	padding: 20px 0;
}
.c_right p{
	text-align: center;
	color: #ffffff;
}
.c_right p a{
	text-decoration: none;
	color: #ffffff;
}
.c_right p a:hover{
	color:#BC223E; 
}

/*copyright end*/
